.Menu {
    text-align: left;
}

.Our-header {
    background-color: #4CBB17;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: calc(10px + 2vmin);
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}

.Content {
    padding-left: 10px;
}